  
    @charset "utf-8";
/* CSS Document */
.search-input {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	width: 300px;
	height: 40px;
}

.float-add {
	cursor: pointer;
	width: 66px;
	height: 66px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	font-size: 0;
	line-height: 0;
	z-index: 100;
}

.card {
	text-align: left;
	border: 0.5px solid #eeeeee;
	border-radius: 5px;
	background-color: #FFF;
	display: inline-block;
	background-size: cover;
	position: relative;
	cursor: pointer;
	transition: all 0.4s ease-out;
	box-shadow: 0px 5px 20px -7px rgba(0, 0, 0, 0.44);
	overflow: hidden;
	font-family: 'Microsoft YaHei', sans-serif;
}

.card-item {
	width: 220px;
	margin: 10px;
}

.card-item img {
	width: 220px;
	height: 180px;
}

.card-item :hover {
	transform: translateY(-1%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
}